@tailwind base;
@tailwind components;
@tailwind utilities;

.mainLayer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;
}

.putNameDiv,
#inputName,
.searchDiv,
.loadingPage,
.quitDiv {
	text-align: center;
}

#inputName {
	margin: 1.5rem;
}

#buttonName {
	margin: 1rem;
}

#gameMode {
	margin-top: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#inputGameId {
	text-align: center;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#buttonGameId {
	margin: 0.5rem;
}

.button {
	border: 2px solid rgb(119, 61, 150);
	border-radius: 0.7rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	background-color: rgb(184, 163, 184);
}

.button:hover {
	background-color: rgb(119, 61, 150);
}

.input {
	border-radius: 0.7rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

#inputWatchGame {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#buttonWatchGame {
	margin: 0.5rem;
}

#loadingImg {
	width: 50%;
	margin: 25px;
	margin-left: auto;
	margin-right: auto;
}

#buttonCancel {
	margin: 1rem;
}

#okEndPong,
#okOpponentLeft {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

.searchDiv {
	grid-area: 1 / 1;
	z-index: 0;
}

.pongDiv {
	grid-area: 1 / 1;
	z-index: 0;
}

.jamCatDiv {
	grid-area: 1 / 1;
	z-index: 1;
	width: 30%;
	opacity: 0.25;
	margin-top: -5%;
}

#copyButton {
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	margin-left: 0.4rem;
}

.messageEndPong {
	z-index: 2;
}

.messageOnCenter,
.gameIsFinishedDiv {
	z-index: 3;
}

.messageOnCenter,
.messageEndPong,
.gameIsFinishedDiv {
	text-align: center;
	grid-area: 1 / 1;
	background-image: linear-gradient(70deg, rgba(104, 40, 108, 1), rgba(173, 137, 177, 0.9));
	border: 2px solid rgb(119, 61, 150);
	border-radius: 15px;

	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 70%;
	margin: auto;
}

#pongCanvas {
	width: 90%;
	margin: auto;
	margin-bottom: 5%;
}

#yesButton,
#noButton {
	margin: 0.4rem;
}

#buttonQuit {
	margin: 1rem;
}